/* fonts */

/* cheap reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* global styles */

body {
	background: purple;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 7vh);
}

svg {
	font-size: 10rem;
}

/* id styles */

#rock {
	transform: rotate(90deg);
	fill: white;
}

#rock2 {
	transform: rotate(90deg) rotateX(180deg);
}

#paper {
	transform: rotate(90deg);
	fill: white;
	display: none;
}

#paper2 {
	transform: rotate(90deg) rotateX(180deg);
	display: none;
}

#scissor {
	transform: rotateY(180deg);
	fill: white;
	display: none;
}

#scissor2 {
	display: none;
}

/* class styles */

.header {
	background: black;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-title {
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.player1-side {
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	height: 50%;
}

.game-start {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.start-game {
	background: black;
	color: white;
	padding: 1rem 2rem;
	text-transform: uppercase;
	font-size: 2rem;
	border: 3px solid white;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.start-game:hover {
	background: white;
	border: 3px solid black;
	color: black;
}

.player2-side {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	height: 50%;
}

