/* fonts */

/* cheap reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styles */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 8vh);
}

img {
  display: block;
  width: 100%;
}

/* id styles */

/* class styles */

.header {
  background: black;
  min-height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-title {
  color: white;
  font-size: 1.75rem;
}

.player1-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 100%;
}

.player2-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100%;
}

.player1-throw,
.player2-throw {
  width: 160px;
}

.playing {
  animation: playing 0.5s 3;
}

.game-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-reset {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visible {
	display: block;
}

.invisible {
	display: none;
}



.start-game, .reset-game {
  background: black;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.start-game:hover, .reset-game:hover {
  background: white;
  border: 3px solid black;
  color: black;
}

@media screen and (min-width: 800px) {
  main {
    flex-direction: row;
  }

  .player1-side {
    width: 50%;
  }

  .player2-side {
    width: 50%;
  }

  .game-title {
    font-size: 2.25rem;
  }

  .player1-throw,
  .player2-throw {
    width: 200px;
  }
}

@keyframes playing {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}
